.com {
  height: 28px;
  color: white;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.account {
  display: inline-block;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
