.layout {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: white;
}

.content {
  padding: 30px 50px;
}

.form {
  width: 300px;
}

.form_item {
  width: 100%;
}
